.projects
    display: flex
    flex-direction: column
    scroll-margin-top: 700px
    height:91vh
    width:100%

.project-select
    width:30%
    height: 75.5vh
    padding-top: 40px
    align-items: center
    border:#0A3EA6
    border-style: dashed

.project-org
    display: flex
    flex-direction: row
    overflow: hidden

.project-container
   overflow-y: auto
   width:70%
   height:100%

.project-card
   padding: 10px
   height: 70vh
   border:#0A3EA6
   border-style: dashed

.project-form 
   width: 70%
   padding: 10px
   height: 650px
   border:#0A3EA6
   border-style: dashed