<section id="project" class="projects">
    <h1 id="project-title">Projects</h1>
    <div class="project-org">
        <div class="project-select">
            <div class="add" *ngIf="isLoggedIn">
                <button  mat-raised-button (click)="toggleAdding()">Add</button>
            </div>
            <ul>
                <li *ngFor="let project of projects">
                    <h3 (click)="toggleSelectedProject(project)">{{project.projectTitle}}</h3>
                </li>
            </ul>
        </div>

        <div class="project-form"*ngIf="isAdding; else display">
            <h2>Add a Project</h2>
            <form [formGroup]="projectForm" (submit)="submitProject()">
                <mat-form-field>
                <mat-label for="">Title</mat-label>
                <input matInput formControlName="projectTitle" type="text" name="title">
                </mat-form-field>
                <br>
                <mat-form-field>
                <mat-label for="">Description</mat-label>
                <textarea matInput formControlName="projectDescription" type="text" name="desc"></textarea>
                </mat-form-field>
                <br>
                <div>
                    <mat-form-field>
                        <mat-label>Tech</mat-label>
                        <input matInput type="text" name="addTech" id="addTechInput">
                        
                    </mat-form-field>
                    <button mat-raised-button type="button" (click)="$event.preventDefault; addTech()">Add Tech</button>
                      <div class="techChoices">
                        <ul >
                            <div class="button-li" *ngFor="let tech of techValues">
                                <button mat-raised-button type="button"(click)="removeTech(tech)">X</button> 
                                <li>{{tech}}</li>
                            </div>
                         </ul>
                      </div>   
                        <input  type="hidden" formControlName="projectTech" name="tech" value="{{techValues}}">
                       
                </div>
                <mat-form-field> 
                    <mat-label>Github/Url</mat-label><input matInput type="text" formControlName="projectUrl">
                </mat-form-field>
                <button 
                mat-button
                type="submit"
                class="btn btn-primary"
                [disabled]="projectForm.invalid || techValues.length < 1"
                >Submit</button>
            </form>
        </div>

        <ng-template #display>
        <div *ngIf="selectedProject" class="project-container">
            <app-project-card
            [projects]="projects"
            (change)="addUpdatedItem($event)"
            (delete)="removeDeletedItem($event)"
            [project]="selectedProject"
            [updateProject]="updateProject"
            [addTech]="addTech"
            [removeTech]="removeTech"
            [isLoggedIn]="isLoggedIn"
            >
            </app-project-card>
        </div>
        </ng-template>
    </div>
    
  </section>
