<section id="project" class="projects">
    <h1>Projects</h1>
    <div class="project-org">
        <div class="project-select">
        <button (click)="toggleAdding()">Add</button>
        <ul>
            <li *ngFor="let project of projects">
                <a href="#!">{{project.projectTitle}}</a>
            </li>
        </ul>
        </div>

        <div class="project-form"*ngIf="isAdding; else display">
            <h2>Add a Project</h2>
            <form [formGroup]="projectForm" (submit)="submitProject()">
                <label for="">Title</label>
                <input formControlName="projectTitle" type="text" name="title">
                <br>
                <label for="">Description</label>
                <input formControlName="projectDescription" type="text" name="desc">
                <br>
                <div>
                    <label for="">Tech</label>
                    <input type="text" name="addTech" id="addTechInput">
                    <button type="button" (click)="$event.preventDefault; addTech()">Add Tech</button>
                    <br>
                    <div id="techChoices" *ngFor="let tech of techValues">
                        <li>{{tech}}</li>
                    </div>
                    <input type="hidden" formControlName="projectTech" name="tech" value="{{techValues}}">

                </div>
                <br>
                <label for="">URL</label>
                <input formControlName="projectUrl" type="url" name="url">
                <br>
                <button 
                type="submit"
                class="btn btn-primary"
                [disabled]="projectForm.invalid || techValues.length < 1"
                >Submit</button>
            </form>
        </div>

        <ng-template #display>
        <div class="project-container">
            <app-project-card
            *ngFor="let project of projects"
            [project]="project"
            >
            </app-project-card>
        </div>
        </ng-template>
    </div>
    
  </section>
