<section id="project" class="projects">
    <h1>Projects</h1>
    <div class="project-org">
        <div *ngFor="let project of projects">
            <div>{{project.projectTitle}}</div>
        </div>
        <div class="project-select">
        <button (click)="toggleEditing()">Edit</button>
        <ul >
            <li><a href="#!">Project 1</a></li>
            <li><a href="#!">Project 2</a></li>
            <li><a href="#!">Project 3</a></li>
        </ul>
        </div>

        <div class="project-form"*ngIf="isEditing; else display">
            <h2>Add a Project</h2>
            <form [formGroup]="projectForm" (submit)="submitProject()">
                <label for="">Title</label>
                <input formControlName="projectTitle" type="text" name="title">
                <br>
                <label for="">Description</label>
                <input formControlName="projectDescription" type="text" name="desc">
                <br>
                <div>
                    <label for="">Tech</label>
                    <input type="text" name="addTech" id="addTechInput">
                    <button type="button" (click)="$event.preventDefault; addTech()">Add Tech</button>
                    <br>
                    <div id="techChoices" *ngFor="let tech of techValues">
                        <li>{{tech}}</li>
                    </div>
                    <input type="hidden" formControlName="projectTech" name="tech" value="{{techValues}}">

                </div>
                <br>
                <label for="">URL</label>
                <input formControlName="projectUrl" type="url" name="url">
                <br>
                <button 
                type="submit"
                class="btn btn-primary"
                [disabled]="projectForm.invalid || techValues.length < 1"
                >Submit</button>
            </form>
        </div>

        <ng-template #display>
        <div class="project-container">
            <div id="pr1" class="project-card">
            <h2>Portfolio</h2>
            <p>Customizeable Portfolio, Multiverse/Google Bootcamp Capstone project</p>
            <h3>Tech</h3>
            <ul>
                <li>
                Node.Js | Express | Postgress
                </li>
                <li>Angular | SASS </li>
            </ul>
            </div>
            <div id="pr2" class="project-card">
            <h2>Rails World Conference</h2>
            <p>Conference schedule organizer app, comissioned by the Rails Foundation with oversight from The Agency of Learning.</p>
            <h3>Tech</h3>
            <ul>
                <li>
                Ruby On Rails Full Stack
                </li>
                <li> 
                TailwindCSS | Stimulus/Hotwire
                </li>
            </ul>
            </div>
            <div id="pr3" class="project-card">
            <h2>CASA</h2>
            <p>Ruby For Good's volunteer activty tracker app for Court Appointed Special Advocate organizations.</p>
            <h3>Tech</h3>
            <ul>
                <li>
                Node.Js | Express | Postgress
                </li>
                <li>Angular | SASS </li>
            </ul>
            </div>
        </div>
        </ng-template>
    </div>
    
  </section>
