<div class="container">
  <app-navbar></app-navbar>
  <div class="main">

    <app-title></app-title>
    <app-about></app-about>
    <section id="project" class="projects">
      <h1>Projects</h1>
      <div class="project-org">
        <div class="project-select">
          <ul >
            <li (click)="scrollInnerElement('pr1', 'projects')"><a href="#!">Project 1</a></li>
            <li (click)="scrollInnerElement('pr2', 'projects')"><a href="#!">Project 2</a></li>
            <li (click)="scrollInnerElement('pr3','projects')"><a href="#!">Project 3</a></li>
          </ul>
        </div>
        
        <div class="project-container">
          <div id="pr1" class="project-card">
            <h2>Portfolio</h2>
            <p>Customizeable Portfolio, Multiverse/Google Bootcamp Capstone project</p>
            <h3>Tech</h3>
            <ul>
              <li>
                Node.Js | Express | Postgress
              </li>
              <li>Angular | SASS </li>
            </ul>
          </div>
          <div id="pr2" class="project-card">
            <h2>Rails World Conference</h2>
            <p>Conference schedule organizer app, comissioned by the Rails Foundation with oversight from The Agency of Learning.</p>
            <h3>Tech</h3>
            <ul>
              <li>
                Ruby On Rails Full Stack
              </li>
              <li> 
                TailwindCSS | Stimulus/Hotwire
              </li>
            </ul>
          </div>
          <div id="pr3" class="project-card">
            <h2>CASA</h2>
            <p>Ruby For Good's volunteer activty tracker app for Court Appointed Special Advocate organizations.</p>
            <h3>Tech</h3>
            <ul>
              <li>
                Node.Js | Express | Postgress
              </li>
              <li>Angular | SASS </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <h1>CONTACT!</h1>
      <form action="">
        <label for="">Name</label>
        <input type="text">
        <br>
        <label for="">Email</label>
        <input type="text">
        <br>
        <label for="">message</label>
        <textarea name="message" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Send!</button>
        <br>
      </form>
    </section>
  </div>
</div>