<section id="contact" class="contact">
    <h1>CONTACT!</h1>
    <form action="">
      <mat-form-field>
        <mat-label for="">Name</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label for="">Email</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label for="">Message</mat-label>
        <textarea matInput type="text" cols="30" rows="10"></textarea>
      </mat-form-field>
      <br>
      <button mat-button type="submit">Send!</button>
      <br>
    </form>
</section>