<section id="about" class="about">
  <h1 id="title">About</h1>
    <div id="blurb">
      <p>After working as a pastry chef and a line cook, I transitioned into the tech industry by completing the Flatiorn School's SWE Bootcamp and contributing to open source projects with Ruby For Good and The Agency of Learning.</p>
      <p>Currently working as a Software Engineering Apprentice with Google</p>
      <div class="lists">
        <div>
          <h2>Languages</h2>
          <ul>
            <li>JavaScript</li>
            <li>Ruby</li>
            <li>TypeScript</li>
          </ul>
        </div>
        <div>
          <h2>Frameworks</h2>
          <ul>
            <li>Node</li>
            <li>Ruby on Rails</li>
            <li>React</li>
            <li>Angular</li>
            <li>TailwindCss</li>
          </ul>
        </div>
      </div>
    </div>
    
</section>

